[giper_baza_rich_edit] {
	flex-direction: column;
	flex: 1;
	border-radius: var(--mol_gap_round);
	background-color: var(--mol_theme_field);
}

[giper_baza_rich_edit_enabled] {
	outline: 1px solid var(--mol_theme_line);
}

[giper_baza_rich_edit]:focus-within {
	z-index: var(--mol_layer_focus);
	outline: 1px solid var(--mol_theme_focus);
}

[giper_baza_rich_edit_tools] {
	border-radius: var(--mol_gap_round);
}

[giper_baza_rich_edit_content] {
	flex-direction: column;
	flex: 1;
	white-space: pre-wrap;
	outline: none;
	padding: var(--mol_gap_block);
}

[giper_baza_rich_edit_content] a {
	color: var(--mol_theme_control);
	text-decoration: none;
	border-radius: var(--mol_gap_round);
}

[giper_baza_rich_edit_content] a:hover {
	background: var(--mol_theme_card);
	box-shadow: 0 0 0 .25rem var(--mol_theme_card);
}

[giper_baza_rich_edit_content] p {
	margin: 0;
	padding: var(--mol_gap_text);
}

[giper_baza_rich_edit_content] ul {
	margin: 0;
	padding: 0 var(--mol_gap_block);
}

[giper_baza_rich_edit_content] ul > p:before {
	content: '• ';
}

[giper_baza_rich_edit_content] blockquote {
	margin: var(--mol_gap_block);
	padding: var(--mol_gap_block);
	background: var(--mol_theme_card);
	border-radius: var(--mol_gap_round);
}

[giper_baza_rich_edit_content] img {
	margin: var(--mol_gap_block);
	max-width: calc( 100% - 2 * var(--mol_gap_block) );
}

[giper_baza_rich_edit_content] strong {
	text-shadow: 0 0;
	font-weight: normal;
}

[giper_baza_rich_edit_content] em {
	font-style: italic;
}

[giper_baza_rich_edit_content] ins {
	text-decoration: none;
	color: var(--mol_theme_special);
}

[giper_baza_rich_edit_content] del {
	text-decoration: none;
	color: var(--mol_theme_shade);
}

[giper_baza_rich_edit_content] del {
	font-family: monospace;
}

[giper_baza_rich_edit_content] hr {
	margin: var(--mol_gap_block);
	border: none;
	box-shadow: 0 -1px 0 0px var(--mol_theme_line);
    height: 1px;
}

[giper_baza_rich_edit_content] h1,
[giper_baza_rich_edit_content] h2,
[giper_baza_rich_edit_content] h3,
[giper_baza_rich_edit_content] h4,
[giper_baza_rich_edit_content] h5,
[giper_baza_rich_edit_content] h6,
[giper_baza_rich_edit_content] h7 {
	font-size: 1em;
	font-weight: normal;
	letter-spacing: 2px;
	margin: var(--mol_gap_block) 0;
	padding: var(--mol_gap_text);
}

[giper_baza_rich_edit_content] h1 { font-size: 2.75rem; line-height: 3rem; }
[giper_baza_rich_edit_content] h2 { font-size: 2.5rem; line-height: 3rem; }
[giper_baza_rich_edit_content] h3 { font-size: 2.25rem; line-height: 3rem; }
[giper_baza_rich_edit_content] h4 { font-size: 2rem; line-height: 3rem; }
[giper_baza_rich_edit_content] h5 { font-size: 1.75rem; line-height: 3rem; }
[giper_baza_rich_edit_content] h6 { font-size: 1.5rem; line-height: 3rem; }
[giper_baza_rich_edit_content] h7 { font-size: 1.25rem; line-height: 1.5rem; }

[giper_baza_rich_edit_content] *+h1,
[giper_baza_rich_edit_content] *+h2,
[giper_baza_rich_edit_content] *+h3,
[giper_baza_rich_edit_content] *+h4,
[giper_baza_rich_edit_content] *+h5,
[giper_baza_rich_edit_content] *+h6,
[giper_baza_rich_edit_content] *+h7 {
	box-shadow: 0 -1px 0 0 var(--mol_theme_line);
}
